.ticket-container {
	width: 100%;
	margin-top: 5px;
	padding: 0px;
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: flex-start;
}

/* .aside { */
/* background-color: red; */
/* height: 300px; */
/* } */

.main {
	height: 100%;
	text-align: left;
	width: 1220px;
}
