.ticket-container {
  min-width: 100%;
  margin: 0px;
  padding: 0px;
  display: grid;
  grid-template-columns: 25% auto;
  column-gap: 100px;
}

.aside {
  /* background-color: red; */
  height: 300px;
}

.main {
  background-color: blue;
  height: 10px;
}
