p {
  margin: 0px;
}
.ticket-section {
  width: 60%;
}
.search-nav .search-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.question-btn {
  margin: 0px;
  padding: 10px 5px;
  background-color: #282c34;
  color: #61dafb;
  border-radius: 4px;
  cursor: pointer;
}

.form-div {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  margin-bottom: 15px;
  height: 37px;
}

.form-div .search-input-fields {
  width: 75%;
  font-size: 1.2rem;
  padding-left: 5px;
}

.form-div .search-input-fields:focus {
  outline: none;
}

.form-div div {
  width: 15%;
  margin: auto 0px;
  padding: 10px;
  background-color: #3ca4ff;
  border-radius: 4px;
  color: #f5f5f5;
  text-align: center;
  cursor: pointer;
}

.ticket-details {
  border-right: 1px solid #a9a9a9;
  border-left: 1px solid #a9a9a9;
  border-bottom: 1px solid #a9a9a9;
  padding: 10px;
}
.ticket-details:first-child {
  border-top: 1px solid #a9a9a9;
}
.title-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title-info svg :hover {
  color: red;
  cursor: pointer;
  padding: 5px;
}
.ticket-details .ticket-title {
  font-size: 1.3rem;
  font-weight: bold;
  width: fit-content;
  margin: 0px;
  padding: 10px 0px;
}

.ticket-details .ticket-title:hover {
  color: rgba(0, 0, 0, 0.54);
  text-decoration: underline;
  cursor: pointer;
}

.ticket-description {
  text-transform: capitalize;
  font-size: 1.02rem;
  font-weight: 400;
  padding: 5px 0px;
}

#small {
  display: inline;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: small;
  color: rgba(0, 0, 0, 0.54);
}

#small p {
  padding: 7px 10px;
}
#small #category {
  background-color: #282c34;
  color: #61dafb;
  border-radius: 4px;
}
