.question-answer-section {
	max-width: 900px;
	margin: 0 auto;

	height: 100%;
	padding: 30px 0px;
}

.question {
	width: 900px;
	height: 100%;
	margin: 0 auto;
	padding-bottom: 30px;
}
.question_ticket section {
	text-align: left;
	margin: 0 0 0 20px;
}
